:root {
    --col-orange: #ff9021;
    --col-grey: #eceeef;
    --col-gray: #8d8d8d;
    --col-gray-dark: #00263a;
    --col-white: #fff;
    --col-black: #212529;
    --col-red: #dc3545;
    --col-green: #14A44D;
    --col-blue: #3B71CA;
}

body {
    font-family: "Inter", sans-serif !important;
    min-height: 100vh;
    position: relative;
}

.alertTitle {
    color: var(--col-black);
    font-weight: 600;
    font-size: 20px;
}

.alertText {
    color: var(--col-gray);
    font-size: 16px;
}

.alertErrorConfirmBtn {
    font-size: 15px;
    font-weight: 600;
    transition: 350ms;
    padding: 6px 12px;
    background-color: var(--col-red);
    color: var(--col-white);
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.alertErrorConfirmBtn:hover {
    transform: scale(1.1);
}

.alertWarningConfirmBtn {
    font-size: 15px;
    font-weight: 600;
    transition: 350ms;
    padding: 6px 12px;
    background-color: var(--col-orange);
    color: var(--col-white);
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.alertWarningConfirmBtn:hover {
    transform: scale(1.1);
}

.alertWarningCancelBtn {
    font-size: 15px;
    font-weight: 600;
    transition: 350ms;
    padding: 6px 12px;
    background-color: var(--col-black);
    color: var(--col-white);
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-left: 6px;
}

.alertWarningCancelBtn:hover {
    transform: scale(1.1);
}

.alertSuccessConfirmBtn {
    font-size: 15px;
    font-weight: 600;
    transition: 350ms;
    padding: 6px 12px;
    background-color: var(--col-green);
    color: var(--col-white);
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.alertSuccessConfirmBtn:hover {
    transform: scale(1.1);
}

.alertInfoConfirmBtn {
    font-size: 15px;
    font-weight: 600;
    transition: 350ms;
    padding: 6px 12px;
    background-color: var(--col-blue);
    color: var(--col-white);
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.alertInfoConfirmBtn:hover {
    transform: scale(1.1);
}