@import url('../../../utils/styles.css');

header .navbar {
    height: 64.5px;
}

header .logo {
    font-family: "Carter One", system-ui !important;
    font-size: 24px;
    color: var(--col-black);
    text-decoration: none;
}

header .logoutbtn {
    color: var(--col-black);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--col-black);
    transition: 350ms;
    border-radius: 3px;
}

header .logoutbtn:hover {
    background-color: var(--col-black);
    color: var(--col-white);
    border: 1px solid var(--col-black);
}

#homeMain .welcome .content h2 {
    font-size: 36px;
    color: var(--col-black);
    font-family: "Carter One", system-ui !important;
}

#homeMain .welcome .content p {
    color: var(--col-black);
    line-height: 16px;
}

#homeMain .welcome .action .createbtn {
    background-color: var(--col-orange);
    color: var(--col-white);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--col-orange);
    transition: 350ms;
    border-radius: 3px;
}

#homeMain .welcome .action .createbtn:hover {
    background-color: var(--col-white);
    color: var(--col-orange);
}

#homeMain .welcome .action .logoutbtn {
    color: var(--col-black);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--col-black);
    transition: 350ms;
    border-radius: 3px;
}

#homeMain .welcome .action .logoutbtn:hover {
    background-color: var(--col-black);
    color: var(--col-white);
    border: 1px solid var(--col-black);
}

#homeMain .organize .container-header,
#homeMain .voter .container-header {
    background-color: var(--col-black);
    color: var(--col-white);
    overflow: hidden;
    border-radius: .25rem .25rem 0 0;
}

#homeMain .organize .container-header h3,
#homeMain .voter .container-header h3 {
    font-size: 18px;
    font-weight: 600;
}

#homeMain .organize .ballot_header h4,
#homeMain .voter .ballot_header h4 {
    font-size: 22px;
    font-weight: 600;
    color: var(--col-black);
}

#homeMain .organize .ballot_header p,
#homeMain .voter .ballot_header p {
    color: var(--col-gray-dark);
    font-weight: 500;
}

#homeMain .voter .ballot_header .voteCount {
    font-weight: 400;
}

#homeMain .organize .ballot_body button,
#homeMain .voter .ballot_body button {
    font-size: 14px;
    transition: 350ms
}

.vote_header h4 {
    font-size: 22px;
    font-weight: 600;
    color: var(--col-black);
}

.vote_header p {
    color: var(--col-gray-dark);
    font-weight: 500;
}

.voteFormContainer #voteForm legend {
    font-size: 14px;
}

.voteFormContainer #voteForm legend b{
    font-weight: 600;
    color: var(--col-black);
    font-size: 16px;
}

.voteFormContainer #voteForm input[type=radio] {
    display: none;
}

.voteFormContainer #voteForm label {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 350ms;
}

.voteFormContainer #voteForm label:hover {
    font-size: 16px;
    border: 1px solid var(--col-black) !important;
}

.voteFormContainer #voteForm input:checked+label {
    border-color: var(--col-green) !important;
    color: var(--col-green) !important;
    font-size: 16px;
}

.questions_header h4 {
    font-size: 22px;
    font-weight: 600;
    color: var(--col-black);
}

.questions_header p {
    color: var(--col-gray-dark);
    font-weight: 500;
}

.questions_container legend {
    font-size: 14px;
}

.questions_container legend b{
    font-weight: 600;
    color: var(--col-black);
    font-size: 16px;
}

.questions_container input[type=radio] {
    display: none;
}

.questions_container label {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
    transition: 350ms;
}

.btnSubmit {
    background-color: var(--col-orange);
    color: var(--col-white);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--col-orange);
    transition: 350ms;
    border-radius: 3px;
}

.btnSubmit:hover {
    background-color: var(--col-white);
    color: var(--col-orange);
    border: 1px solid var(--col-orange);
}

.btnCancel {
    color: var(--col-black);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--col-black);
    transition: 350ms;
    border-radius: 3px;
}

.btnCancel:hover {
    background-color: var(--col-black);
    color: var(--col-white);
    border: 1px solid var(--col-black);
}

.stat-holder .overview i {
    font-size: 36px;
}

.stat-holder .questions .question_header h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--col-black);
}

.stat-holder .questions .question_header p {
    color: var(--col-black);
    font-size: 16px;
}

.stat-holder .questions .question_body p {
    font-size: 14px;
    color: var(--col-gray);
}

.transfer_vote h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--col-black);
}

.transfer_vote #transferForm legend {
    color: var(--col-gray);
    font-size: 16px;
}

footer {
    color: var(--col-gray);
    font-size: 14px;
}

footer b {
    color: var(--col-black);
}